body {
    background-color: #efefef;
    overflow: hidden;
}

.container {
    min-width: 960px;
}

.left-col {
    width: 45vw;
    height: 96vh;
    float: left;
}

.right-col {
    width: 35vw;
    height: 96vh;
    margin-left: 45vw;
    padding-left: 0.8em;
}

svg {
    padding: 0.2em;
    z-index: -1;
    shape-rendering: geometricPrecision;
    -webkit-user-select: none;
    -moz-user-select: none;
}

svg text {
    font-family: sans-serif;
}

/* source of spinner css: https://stackoverflow.com/a/20013732/5130767 */
.spinner {
    position: absolute;
    left: 50vw;
    top: 50vh;
    height:60px;
    width:60px;
    margin:0px auto;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    z-index: 1000;
}
