.tooltip{
    position:absolute;
    z-index:10;
    visibility:hidden;
    background-color:white;
    border:1px solid black;
    padding:5px;
}

body {
    background-color: #efefef;
    overflow: hidden;
    font-family: sans-serif;
    text-align: justify;
}

.container {
    min-width: 960px;
}

.left-col {
    width: 45vw;
    height: 96vh;
    float: left;
}

.right-col {
    width: 30vw;
    height: 96vh;
    margin-left: 45vw;
    padding-left: 0.8em;
}

svg {
    padding: 0.2em;
    z-index: -1;
    shape-rendering: geometricPrecision;
    -webkit-user-select: none;
    -moz-user-select: none;
}

svg text {
    font-family: sans-serif;
}

/* source of spinner css: https://stackoverflow.com/a/20013732/5130767 */
.spinner {
    position: absolute;
    left: 50vw;
    top: 50vh;
    height:60px;
    width:60px;
    margin:0px auto;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    z-index: 555;
}

div.ui-bar {
    z-index: 666;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10vw;
    height: 100vh;
    opacity: 0.8;
    background-color: #79B2DB;
    transition: width 500ms;
    overflow-y: auto;
    overflow-x: hidden;
}

div.ui-bar .elem {
    transition: background-color 700ms;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    background-color: #518AB3;
}

div.ui-bar .elem a {
    text-decoration: none;
    color: inherit;
}

div.ui-bar.toggled {
    width: 30vw;
}

div.ui-bar .elem:hover {
    background-color: #97D0F9;

}

div.ui-bar .elem.toggled {
    background-color: white;
}

div.ui-bar div:not(.elem) {
    display: none;
    width: 29vw;
    padding: 0.6em;
}

div.ui-bar *.visible {
    display: block !important;
    background-color: white;
}

textarea {
    box-sizing: border-box;
    width: 28vw;
    resize: vertical;
}

#density .point {
    stroke: grey;
    stroke-width: 0.5;
}

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity: 0.05;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.bar.not-highlighted-lasso {
    opacity: 0.3 !important;
}

.bar.highlighted-lasso {
    opacity: 1 !important;
}

.bar.not-highlighted-range {
    opacity: 0.3 !important;
}

.bar.highlighted-range {
    opacity: 1 !important;
}

.bar.framed {
    stroke: black;
    stroke-width: 2;
    opacity: 1;
}

.point.framed {
    stroke: black !important;
    stroke-width: 2 !important;
    opacity: 1;
}

#size .bar:hover {
    opacity: 0.7;
}

#reach .bar:hover {
    opacity: 0.7;
}

#scented-widget {
    width: 30vw;
}

button.tree-button {
    position: absolute;
    top: 1em;
    left: 76.8vw;
    padding: 0.2em;
}

span.tree {
    font-size: 25px;
    color: green;
}

div.dendrogram-overlay {
    opacity: 0.8;
    width: 75.6vw;
    height: 96.9vh;
    position: absolute;
    top: 0.9vh;
}

/* https://bl.ocks.org/mbostock/ff91c1558bc570b08539547ccc90050b */
.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
